doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='Elastic, Next-Generation Cloud Computing')
    meta(name='keywords', content='Elastic coin, elc, Elastic project ')
    title Elastic Project - The Decentralized Supercomputer
    script(type='text/javascript', src='js/jquery-1.11.2.min.js')
    script(type='text/javascript', src='masterslider/jquery.easing.min.js')
    script(type='text/javascript', src='masterslider/masterslider.min.js')
    link(href='masterslider/style/masterslider.css', rel='stylesheet')
    link(href='masterslider/skins/default/style.css', rel='stylesheet', type='text/css')
    link(href='masterslider/silder_style.css', rel='stylesheet', type='text/css')
link(href='css/app.min.css', rel='stylesheet')
link(href='css/custom.css', rel='stylesheet')
link(href='http://fonts.googleapis.com/css?family=Raleway:300,400,500,600,800%7COpen+Sans:300,400,500,600,700,800%7CMontserrat:400,700', rel='stylesheet', type='text/css')
link(href='img/favico/apple-icon-57x57.png', rel='apple-touch-icon', sizes='57x57')
link(href='img/favico/apple-icon-60x60.png', rel='apple-touch-icon', sizes='60x60')
link(href='img/favico/apple-icon-72x72.png', rel='apple-touch-icon', sizes='72x72')
link(href='img/favico/apple-icon-76x76.png', rel='apple-touch-icon', sizes='76x76')
link(href='img/favico/apple-icon-114x114.png', rel='apple-touch-icon', sizes='114x114')
link(href='img/favico/apple-icon-120x120.png', rel='apple-touch-icon', sizes='120x120')
link(href='img/favico/apple-icon-144x144.png', rel='apple-touch-icon', sizes='144x144')
link(href='img/favico/apple-icon-152x152.png', rel='apple-touch-icon', sizes='152x152')
link(href='img/favico/apple-icon-180x180.png', rel='apple-touch-icon', sizes='180x180')
link(rel='icon', type='image/png', sizes='192x192', href='img/favico/android-icon-192x192.png')
link(rel='icon', type='image/png', sizes='32x32', href='img/favico/favicon-32x32.png')
link(rel='icon', type='image/png', sizes='96x96', href='img/favico/favicon-96x96.png')
link(rel='icon', type='image/png', sizes='16x16', href='img/favico/favicon-16x16.png')
link(rel='manifest', href='img/favico/manifest.json')
meta(name='msapplication-TileColor', content='#ffffff')
meta(name='msapplication-TileImage', content='img/favico/ms-icon-144x144.png')
meta(name='theme-color', content='#ffffff')